*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body{
    font-family: 'Open Sans', sans-serif;
}

button{
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

/* Header */

.header{
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title{
    text-transform: uppercase;
    font-size: 1.5rem;
    flex: 1;
}

.header__menu{
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: center;
}

.header__link{
    background: none;
    text-decoration: none;
}

.header__link:hover{
    text-decoration: underline;
}

.header__btn-container{
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
}

.header__bars{
    display: none;
}


/* Hero section */
.hero{
    text-align: center;
    margin-top: 10rem;
}

.hero__title{
    font-size:4rem;
    line-height: 1;
    letter-spacing: -0.05em;
    max-width: 25ch;
    margin-inline: auto;
}

.hero__text{
    font-size: 1.2rem;
    max-width: 50ch;
    margin: 2rem auto;
}


/* Pricing */

.pricing{
    margin: 10rem 0;
}

.pricing__title{
    font-size: 2rem;
    letter-spacing: -0.05em;
    line-height: 1;
}

.pricing__subtitle{
    width: 40ch;
    margin: 1rem 0;
}

.pricing__card-container{
    display: flex;
    gap:2rem;
}

.pricing__card{
    background-color: black;
    color:white;
    min-height: 450px;
    flex: 1;
    border-radius: 10px;
    padding:1.5rem;
}

.pricing__description{
    color: #ccc;
}

.pricing__button{
    width: 100%;
    text-decoration: none;
    font-weight: 700;
    border: none;
    margin: 1.5rem 0;
    padding: 0.4rem 0;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.pricing__list{
    padding-left: 1rem; 
    color: #ccc;
}

.pricing li + li{
    margin-top: 10px 
}

/* Features section*/
.features{
    text-align: center;
}

.features__title{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1;
}

.features__subtitle{
    margin: 1rem auto;
    max-width: 45ch;
}

.features__container{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.features__card{
    padding: 2rem;
    border: 1px solid #ccc;
    width: 500px;
    border-radius: 10px;
}

.features__card-title{
    line-height: 1;
}

/* Contact */
.contact{
    text-align: center;
    margin-bottom: 10rem;
}

.contact__title{
    font-size: 2rem;
    line-height: 1;
    letter-spacing: -0.05em;
    max-width: 25ch;
    margin-inline: auto;
}

.contact__text{
    max-width: 60ch;
    margin: 2rem auto;
}

.footer{
    text-align: center;
}

.footer__title{
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.1em;
}


/* Utility classes */
.btn{
    text-decoration: none;
    display:inline-block;
    background: black;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
}

.btn:hover{
    transform: translateY(-1px);
}

.container{
    width: 90%;
    margin-inline: auto;
}

/* Media queries */
@media (max-width: 891px){
    /* header section */
    .header__title{
        font-size: 1.2rem;
    }

    .header__link{
        font-size: 0.8rem;
    }

    .header__button{
        font-size: 0.8rem;
    }

    /* hero section*/

    .hero__title{
        font-size: 3rem;
    }

    .hero__text{
        font-size: 1rem;
        margin: 1.5rem auto;
    }
}


@media (max-width: 713px){
    /* header section */
    .header{
        justify-content: space-between;
    }

    .header__menu{
        display:none;
    }

    .header__title{
        flex: 0 1 auto;
    }

    .header__btn-container{
        display:none;
    }

    .header__bars{
        display: block;
        width: 1.5rem;
        height: 1.5rem;
    }

    /* hero section */
    .hero{
        margin-top: 5rem;
    }

    .hero__title{
        font-size: 2.5rem;
    }

    .hero__text{
        font-size: 0.9rem;
        margin: 1rem auto;
    }

    .hero__button{
        font-size: 0.9rem;
    }

}

@media (max-width: 495px){
    .hero__title{
        font-size: 2rem;
    }
}

@media (max-width: 396px){
    .hero{
        margin-top: 3rem;
    }

    .hero__title{
        font-size: 1.6rem;
    }
}
