*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body{
    font-family: 'Open Sans', sans-serif;
}

button{
    background: none;
    cursor: pointer;
    font-family: inherit;
}

/* Header */

.header{
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title{
    text-transform: uppercase;
    font-size: 1.5rem;
    flex: 1;
}

.header__menu{
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: center;
}

.header__link{
    background: none;
    text-decoration: none;
}

.header__link:hover{
    text-decoration: underline;
}

.header__btn-container{
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
}

/* Hero section */
.hero{
    text-align: center;
    margin-top: 10rem;
}

.hero__title{
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.05em;
    max-width: 25ch;
    margin-inline: auto;
}

.hero__text{
    font-size: 1.2rem;
    max-width: 50ch;
    margin: 2rem auto;
}


/* Pricing */

.pricing{
    margin: 10rem 0;
}

.pricing__title{
    font-size: 2rem;
}

.pricing__subtitle{
    width: 40ch;
    margin-bottom: 1rem;
}

.pricing__card-container{
    display: flex;
    justify-content: center;
    gap:2rem;
}

.pricing__card{
    background-color: black;
    color:white;
    min-height: 450px;
    flex: 1;
    border-radius: 10px;
    padding:1.5rem;
}

.pricing__description{
    color: lightgray;
}

.pricing__button{
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin: 1.5rem 0;
    padding: 0.4rem 0;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.pricing__list{
    margin-left: 1rem; 
    color: lightgray;
}

.pricing li + li{
    margin-top: 10px 
}

/* Utility classes */
.btn{
    text-decoration: none;
    display:inline-block;
    background: black;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
}

.btn:hover{
    transform: translateY(-1px);
}

.container{
    width: 90%;
    margin-inline: auto;
}

